.mat-form-field {
    padding: 5px;
}

.toggle-m {
    padding-inline-start: 15px;
    margin: end;
}

.button-style {
    float: right;
    border-radius: 3px;
    padding-inline-end: 5px;
}

.button-color {
    background-color: #bbbbbb;
    color: #131212;
}