/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.color-background {
    background-image: linear-gradient(to right top, #f0f0f7, #e1e6f1, #cfddeb, #bbd5e2, #a8cdd6);
}